.grid-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.mainPanel {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

