.ChartArea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.chart {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.intervalGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.horizontalLine {
	position: relative;
	margin: 20px 0;
}
.horizontalLine::before,
.horizontalLine::after {
	content: "";
	position: absolute;
	top: 50%;
	width: 40%;
	height: 2px;
	background-color: #000;
}
.horizontalLine::before {
	right: 10px;
}
.horizontalLine::after {
	left: 10px;
}
.horizontalLineText {
	height: 1px;
	display: flex;
	justify-content: center;
	padding: 0px 0px 20px 0px;
}


.grid-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.grid-item {
    padding: rem(2px);
}

.slider {
    width: rem(400px);
    margin: 20px 0;
}
