.footer {
    background: #4B0055;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
}

.footerData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.linkLabel {
    color: var(--mantine-color-gray-0);
}
