.footer {
    background: linear-gradient(to right, var(--primary-color) 60%, var(--secondary-color));
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
}


.linkLabel {
    color: var(--mantine-color-gray-0);
}
