.grid-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.grid-item {
    padding: rem(2px);
}

.sidePanel {
    width: rem(300px);
    height: rem(100vh);
    float: left;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
    padding: 20px;
    box-sizing: border-box;
}

.sidePanel .header h2,
.sidePanel .header input,
.sidePanel .category {
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.sidePanel .header h2,
.sidePanel .header input,
.sidePanel .category {
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.themeIcon {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6))
}
.themeIconFav {
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.sidePanel .header input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #1a1b2f;
    border: none;
    border-radius: 5px;
}


.currencyList {
    margin-top: 20px;
}

.currencyItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.currencyItemActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-8));
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.currencyIcon {
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.currencyItem:hover, {
    background-color: #313348;
}

.currencyItemStar {
    margin-right: 5px;
}

.currencyItemChange {
    font-weight: bold;
}

.currencyItemChangeUp {
    color: #00c48c;
}

.currencyItemChangeDown {
    color: #f0616d;
}
