.navbar {
	width: 300px;
	height: 100%;
	padding: var(--mantine-spacing-md);
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.navbarClosed {
	width: 60px;
	height: 100%;
	padding: var(--mantine-spacing-md);
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.navbar .category {
	color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.navbar .category {
	color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.themeIconFav {
	color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.sidePanel .header input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	background-color: #1a1b2f;
	border: none;
	border-radius: 5px;
}


.currencyList {
	margin-top: 20px;
}

.currencyItem {
	border-radius: 5px;
	margin-left: -8px;
}

.currencyItemActive {
	background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-8));
	border-radius: 5px;
	margin-left: -8px;
}

.currencyIcon {
	color: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-0));
}

.currencyItem:hover {
	background-color: #313348;
}

.currencyItemStar {
	margin-right: 5px;
}

.currencyItemChange {
	font-weight: bold;
}

.currencyItemChangeUp {
	color: #00c48c;
}

.currencyItemChangeDown {
	color: #f0616d;
}

.footer {
	position: fixed;
	float: right;
	bottom: 50px;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
}

.iconButton {
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
	height: rem(30px);
	width: rem(30px);
	cursor: pointer;
}
