body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.email_form input[type=email] {
    display: flex;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.email_form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.email-form button:hover {
    background-color: darkblue;
}
