body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.18;
    color: #EDE9FF; 
    letter-spacing: -0.025em;
    margin-bottom: 4px;
}
.subtitle {
    font-size: 1.545rem;
    color: rgba(210,200,255,0.65);
    line-height: 1.7;
    margin-bottom: 34px;
}

.email_form input[type=email] {
    display: flex;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.email_form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.email-form button:hover {
    background-color: darkblue;
}


.bounce {
    width: 100%;
    -webkit-animation: upDown 5s infinite;
    animation: upDown 5s infinite;

    @-webkit-keyframes upDown {
        0% {
            -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
        }

        50% {
            -webkit-transform: translateY(45px);
            transform: translateY(45px);
        }

        100% {
            -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
        }
    }
}


.bgImgBox {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

.bgImgBox2 {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

.anchorLabel {
    color: #EDE9FF; 
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.home {
    margin-top: 70px;
    margin-left: 70px;
}
